* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    flex-direction: column;
    padding: 50px 0;

    >h1 {
        width: 100%;
        color: rgba(255, 255, 255, 0.858);
        text-align: center;
        font-size: 55px;
        margin-bottom: 15px;
    }

    >p {
        color: rgba(255, 255, 255, 0.858);
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    >.container {
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
        justify-content: center;


        >.texts {
            >p {
                width: 100%;
                color: black;
                text-align: left;
                background-color: rgba(255, 255, 255, 0.769);
                padding: 20px;
                border-radius: 15px;
                margin-bottom: 10px;
                box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.306);
            }


        }
    }
}



/* footer */

.box {
    width: 150px;
    height: 150px;
    position: fixed;
    right: 50px;
    bottom: 20px;


    >div {
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        bottom: 50px;
        left: 0;


        &:first-of-type {
            background-color: #6ef127;
            border-radius: 19% 81% 23% 77% / 84% 22% 78% 16%;
            animation: anime2 infinite alternate 2s;
        }

        &:last-of-type {
            background-image: url(../css/img/ImportedPhoto.745011559.431385.jpeg);
            background-size: cover;
            border-radius: 69% 31% 70% 30% / 29% 39% 61% 71%;
            animation: anime1 infinite alternate 2s;
        }



    }

    &:hover {
        >a {
            left: -40px;

        }
    }

    a {
        position: absolute;
        font-size: 30px;
        text-decoration: none;
        left: 100px;
        transition: 1s;


        &:nth-of-type(1) {
            top: 1px;


        }

        &:nth-of-type(2) {
            top: 40px;

        }

        >span {

            >img {

                width: 30px;
                height: 30px;

            }
        }

    }

    >h3 {
        color: black;
        position: absolute;
        left: 0px;
        bottom: 10px;
        font-size: 18px;
        font-family: "The Girl Next Door", cursive;
        border-radius: 20% 80% 27% 73% / 76% 30% 70% 24%;
        background-color: #6ef127;



    }

    >h2 {
        color: #6ef127;
        position: absolute;
        right: -20px;
        top: 70px;
        writing-mode: sideways-lr;
        font-size: 18px;
        font-family: "The Girl Next Door", cursive;
        border-radius: 41% 59% 21% 79% / 56% 27% 73% 44%;
        background-color: rgb(52, 49, 49);
        padding: 10px 10px;


    }

}

@keyframes anime1 {
    to {
        border-radius: 19% 81% 23% 77% / 84% 22% 78% 16%;
    }
}

@keyframes anime2 {
    to {
        border-radius: 69% 31% 70% 30% / 29% 39% 61% 71%;
    }
}